<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%=titulo%></title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-alpha1/dist/css/bootstrap.min.css">
</head>

<body>
  <div class="container">
    <h1 class="mt-4 mb-3 text-center">Ventana de visualización de productos</h1>
    <% if (titulo=="Y18590"){ %>
    <p class="mt-4">Bienvenido Rodrigo</p>
    <% } else { %>
    <p class="mt-4">hola kp</p>
    <% } %>

    <table class="table table-bordered mt-4">
      <thead>
        <tr>
          <th>ID</th>
          <th>NOMBRE</th>
          <th>PRECIO</th>
          <th>DETALLE</th>
        </tr>
      </thead>
      <tbody>
        <% productos.forEach((producto) => { %>
        <tr>
          <td><%= producto.id %></td>
          <td><%= producto.nombre %></td>
          <td><%= producto.precio %></td>
          <td>
            <a href="det_producto/<%= producto.slug %>"><%= producto.slug %></a>
          </td>
        </tr>
        <% }) %>
      </tbody>
    </table>

    <form action="/crear_producto" method="get">
      <button type="submit" class="btn btn-primary">Crear Producto</button>
    </form>
  </div>
</body>
</html>