<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detalles</title>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-alpha1/dist/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <h1 class="mt-4">Detalles del producto: <%= producto.nombre %></h1>
        <form id="update-form" class="mt-4">
            <div class="form-group">
                <label for="nombre">Nombre:</label>
                <input type="text" id="nombre" name="nombre" value="<%= producto.nombre %>" class="form-control">
            </div>

            <div class="form-group">
                <label for="precio">Precio:</label>
                <input type="text" id="precio" name="precio" value="<%= producto.precio %>" class="form-control">
            </div>

            <button type="submit" class="btn btn-primary">Guardar cambios</button>
        </form>

        <form id="delete-form" action="/det_producto/<%= producto.slug %>" method="POST" class="mt-4">
            <input type="hidden" name="_method" value="DELETE">
            <button type="submit" class="btn btn-danger">Eliminar Producto</button>
        </form>
    </div>

    <script>

        document.getElementById('update-form').addEventListener('submit', function (e) {
            e.preventDefault();

            const nombre = document.getElementById('nombre').value;
            const precio = document.getElementById('precio').value;

            fetch(`/det_producto/<%= producto.slug %>`, {
                method: 'PUT',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({ nombre: nombre, precio: precio })
            })
            .then(response => response.json())
            .then(data => {
                if (data.success) {
                    window.location.href = `/bienvenida`;
                } else {
                    console.error('Error al actualizar el producto');
                }
            })
            .catch(error => {
                console.error('Error:', error);
            });
        });

        document.getElementById('delete-form').addEventListener('submit', function (e) {
            e.preventDefault();

            if (confirm('¿Estás seguro de que deseas eliminar este producto?')) {
                const url= (`/det_producto/<%= producto.slug %>`)
                console.log("prueba");
                console.log();
                fetch(url, {
                    
                    method: 'delete',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify({ nombre: nombre, precio: precio })
                })
                .then(response => {
                    window.location.href = `/bienvenida`;
                })
                
                .catch(error => {
                    console.error('Error:', error);
                });
            }
        });
    </script>
</body>
</html>